<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />-->
	</appSettings>
	<system.web>
		<compilation targetFramework="4.7.2"/>
		<httpRuntime targetFramework="4.7.2"/>
	</system.web>
	<system.serviceModel>
		<services>
			<service name="NBPCurrencyService.Service1">
				<endpoint address="http://localhost/currencyservice/service1.svc" binding="webHttpBinding" contract="NBPCurrencyService.IService1" behaviorConfiguration="Web"/>

				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:80"/>
						<add baseAddress="net.tcp://localhost:8090"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="Web">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="webHttpBinding" scheme="http"/>

		</protocolMapping>

	</system.serviceModel>
	<system.webServer>
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true"/>
	</system.webServer>
</configuration>
<!--ProjectGuid: FD67D8A4-671B-4280-8FA1-F1094B1C8B1C-->